!!!
%html
  %head
    %title #{@title} | Test Task
    = stylesheet_tag 'app'
    %meta{content: 'width=device-width, initial-scale=1', name: 'viewport'}
  %body
    .container-fluid
      .row
      .col-md-4
      .col-md-4
        - if flash[:notice]
          .row
          .alert.alert-info{role: 'alert'}= flash[:notice]
        - if flash[:error]
          .row
            .alert.alert-danger{role: 'alert'}= flash[:error]
          .row
        = yield
      .col-md-4
